practica1/code/build/
practica1/code/minic
practica1/reporte/*.aux
practica1/reporte/*.log
practica1/reporte/*.out
practica2/code/build/
practica2/code/minic
practica2/reporte/*.aux
practica2/reporte/*.log
practica2/reporte/*.out
practica3/code/build/
practica3/code/minic
practica3/reporte/*.aux
practica3/reporte/*.log
practica3/reporte/*.out
practica4/code/build/
practica4/code/minic
practica4/reporte/*.aux
practica4/reporte/*.log
practica4/reporte/*.out
practica5/code/build/
practica5/code/minic
practica5/reporte/*.aux
practica5/reporte/*.log
practica5/reporte/*.out
practica6/code/build/
practica6/code/minic
practica6/reporte/*.aux
practica6/reporte/*.log
practica6/reporte/*.out
practica7/code/build/
practica7/code/minic
practica7/reporte/*.aux
practica7/reporte/*.log
practica7/reporte/*.out
entregables/